
<!DOCTYPE html>
<html>
<head>
<title>Bliss - Graph</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Graph -->

<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Happy', 8],
  ['Angry', 2],
  ['Surprised', 4],
  ['Nervous', 2],
  ['Sad', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = { 
	  pieHole: 0.3, 
	  'legend': 'bottom',
	  'height': 350,	  

	  };

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
  chart.draw(data, options);
}
</script>




<!-- End graph -->
</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">

<h3>My Mood Chart</h3>
</div>

<!-- buffer lines - need to fix ->

<div class = "activeHome">
		
	<!-- Iterate through data.json -->



	<!-- Build chart -->


<div id="donutchart""></div>	


</div>


<div class="graphBuffer">
<h5> You are having a balanced week!</h5>
</div>

<!-- Bottom fixed nav bar -->
<div id="navbarbot">
	<a href=""><img src="icons/dataRed.png"
	class="iconimgbot"></a>
	<a href="/home"><img src="icons/homeGrey.png"
	class="iconimgbot"</a>
	<a href="/happy"><img src="icons/happyGrey.png"
	class="iconimgbot"</a>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/project.js"></script>

</body>
</html>
