
<!DOCTYPE html>
<html>
<head>
<title>Blyss - Login</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<img src="icons/logo.png" class="loginLogo" style="padding-top: 100px">

<img src="icons/blankProf.png" id="profilePic" class="profilePic w3-circle">


<div class = "loginPage" >
<p class="facebookLogin" id="loginButton">
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
</p>

<a class="startButton" href="/home" 
id="startButton">Let's Get Started!</a>

</p>
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/project.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>

</body>
</html>
