
<!DOCTYPE html>
<html>
<head>
<title>Blyss - Info</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="navbartop">
	<a style="width:80%"></a>
	<a href="/home" id="info" styling="width:15%">
	<img src="icons/back.png" class="iconimgtop"></a>
</div>


<div class = "loginPage" >

<img src="icons/logo.png" class="loginLogo">


<div style="padding:35px">
<h4>Blyss is all about you. 
</h4>

<p>Blyss is a private self-reflective space where you can freely
express your emotions. 
Post pictures and videos of your life.  
Play music that fits your mood. 
Record your everyday routine.
Blyss keeps track of how you feel so you don't have to.
</p>

<h5 style="padding-top:15px">
Get started by telling Blyss how you feel right now!
</h5>


</p>
</div>

</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/project.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>

</body>
</html>
