
<!DOCTYPE html>
<html>
<head>
<title>Bliss - Login</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="navbartop">
	<a href="/" id="info" styling="margin-right:12px">
	<img src="icons/about.png" class="iconimgtop"></a>
</div>


<div class = "loginPage" >

<h2> Info </h2>

</p>

Blyss is all about you. 
Blyss is a private space where you can freely
express your emotions. 
Post pictures and videos of your life. 
Record your day-to-day to routine. 
Play music that fits your mood. 
Blyss will show you what makes you happy, sad, anxious, relaxed, upset, and loved. 
Get started now!


</p>
</div>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/project.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>

</body>
</html>
