<!DOCTYPE html>
<html>
<head>
<title>Blyss - How I'm Feeling</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<style>
input[type=text]{
  width: 80%;
  height: 75px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 1px;
}
</style>

</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">

	<a style="width:33%" class="submit-button" href="/home">
	<h4>Submit</h4></a>
	<a style="width:33%"></a>
	<a style="width:33%"href="/home"><h4>Cancel</h4></a>

</div>
<!--
<div class="topBuffer"></div>
-->
<div class = "activeHome">
	
	<!-- Iterate through data.json -->
	<div class="selectedEmoteContainer">
		<h1><img src="emotes/sad3.png" class="selectedEmote">
		</h1>
	
		<h4><a style="color:#FF2F2F" href="/selectEmote">Change emote</a>
		</h4>
	</div>

	<div class ="textBox">

	<hr>
	<h3>I'm feeling</h3>
	<form>
  	<label for="mood"></label>
  	<input type="text" id="mood" name="mood" 
	placeholder="happy, relaxed, sad...">

	</div>

</div>
	<div class="mediaRow">

		<img class="mediaIcon" src="icons/photoRed.png">
		<img class="mediaIcon" src="icons/videoRed.png">
		<img class="mediaIcon" src="icons/audioRed.png">
		<img class="mediaIcon" src="icons/textRed.png">
	</div>
<hr>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/topNavOnly.js"></script>

</body>
</html>
