
<!DOCTYPE html>
<html>
<head>
<title>Blyss - Select Emote</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">

	<h3>How Do You Feel?</h3>

</div>
<!--
<div class="topBuffer"></div>
-->
<div class = "activeHome">
	
	<!-- Iterate through data.json -->

<!-- Happy Emotes -->
<div class="emoteRow" id="happy">
<h5> Happy </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/happy1"><img src="emotes/happy1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/happy2"><img src="emotes/happy2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/happy3"><img src="emotes/happy3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/happy4"><img src="emotes/happy4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>

<!-- Loving Emotes -->
<div class="emoteRow" id="loving">
<h5> Loving </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/loving1"><img src="emotes/loving1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/loving2"><img src="emotes/loving2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/loving3"><img src="emotes/loving3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/loving4"><img src="emotes/loving4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>

<!-- Relaxed Emotes -->
<div class="emoteRow" id="relaxed">
<h5> Relaxed </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/relaxed1"><img src="emotes/relaxed1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/relaxed2"><img src="emotes/relaxed2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/relaxed3"><img src="emotes/relaxed3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/relaxed4"><img src="emotes/relaxed4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>

<!-- Sad Emotes -->
<div class="emoteRow" id="sad">
<h5> Sad </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/sad1"><img src="emotes/sad1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/sad2"><img src="emotes/sad2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/sad3"><img src="emotes/sad3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/sad4"><img src="emotes/sad4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>

<!-- Upset Emotes -->
<div class="emoteRow" id="upset">
<h5> Upset </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/upset1"><img src="emotes/upset1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/upset2"><img src="emotes/upset2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/upset3"><img src="emotes/upset3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/upset4"><img src="emotes/upset4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>

<!-- Anxious Emotes -->
<div class="emoteRow" id="anxious">
<h5> Anxious </h5>

<div class="btn-group" style="width:100%">
  
  <a class="emoteButton" href="/anxious1"><img src="emotes/anxious1.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/anxious2"><img src="emotes/anxious2.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/anxious3"><img src="emotes/anxious3.png"
  class="selectEmote"></a>
  <a class="emoteButton" href="/anxious4"><img src="emotes/anxious4.png"
  class="selectEmote"></a>

</div>

<hr>
</div>
</div>

<!-- Bottom fixed nav bar -->
<div id="navbarbot">
	<a class="cancelBot" style="width:100%" href="/home">
	<h4>Cancel</h4></a>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/js/topNavOnly.js"></script>-->
<script src="/js/selectEmote.js"></script>
<script src="/js/project.js"></script>
</body>
</html>
