/* Old nav bar */
.example-class-selector {
	margin-top: 2em
}

.mediaIcon {
  height: 27px;
  padding-left: 10px;
}

.mediaRow {
  padding-left: 30px;
}

/* Start sticky navbar */
/* Style the navbar */
#navbartop {
  overflow: hidden;
  background-color: #F9F9F9;
  height: 72px;
  z-index:1;
  text-align: center;
}

/* Navbar links */
#navbartop a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  right: 0px;
  height: 40px;
}

#navbartop h3 {
  color: #FF2F2F;
}


#h2 {
  color: #FF2F2F;
}
#navbarbot {
  overflow: hidden;
  background-color: #F9F9F9;
  height: 70px;
  z-index:1;
}

/* Navbar links */
#navbarbot a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  width: 33%;
  height: 40px;
}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickytop {
  position: fixed;
  top: 0;
  width: 100%
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickybot {
  position: fixed;
  bottom: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickytop + .content {
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickybot + .content {
  padding-bottom: 60px;
}

#navbartop post {
  text-align: right;
}



.bufferBot {
  height:120px;
}

.logoTop {
  height: 55px;
}
.iconimgtop {
  height: 36px;
}

.iconimgbot {
  height: 40px;
}
/* End sticky nav bar */

/* Start post formatting */

.post {
  padding: 5px;
  text-align: center;
}

.activeHome{
  text-align: center;
}


.postEmote {
  height: 30px;
}

.postPhoto {
  width: 80%; 
}

.postVideo {
  width: 80%;
}

.postAudio {
  width: 80%;
}

.postText {
  width: 80%; 
}

.emoteRow {
  text-align: center;
  height: 120px;
  padding: 23px;
  width: 100%;
}

.selectEmote {
  height: 45px;
}

/* button group css */

.btn-group button {
    background-color: #ffffff;    
    color: black; /* White text */
    border: none;
    padding: 10px; /* Some padding */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.emoteButton {
    width: 23%;
    display: inline-block;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #FFEDED;
}

/* Make Post page */
.selectedEmoteContainer {
  text-align: center;
  height: 125px;
  padding: 20px;
}

.selectedEmote{
  height: 80px;
}

.graphBuffer {
  height: 275px;
  text-align: center;
}

.textBox{
  padding-top: 30px;
  text-align: center;
}

.loginPage{
  text-align: center;
}

.loginLogo {
  padding-top: 75px;
  padding-bottom:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profilePic {
  width: 60%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.startButton {
    background-color: #FF2F2F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

/** Start happy_C styling */

/* Style the tab buttons */
.tablinkC {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 22px 30px;
    font-size: 17px;
    width: 50%;
}

/* Change background color of buttons on hover */
.tablinkC:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontentC {
    color: white;
    display: none;
    text-align: center;
}

/* Style each tab content individually */ 
#Positive {background-color:#90EE90;}
#Negative {background-color:#ff6666;}

/** End happy_C styling */

/** Start happy_B styling */

/* Style the tab buttons */
.tablinkB {
    background-color: #F9F9F9;
    color: white;
    float: left;
    border: none;
    outline: none;
    padding: 5px;
    width: 16.6%;
    height: 72px;
}

/* Change background color of buttons on hover */
.tablinkB:hover {
    background-color: #FFA8A7;
}

/* Set default styles for tab content */
.tabcontentB {
    display: none;
    text-align: center;
}

.tabcontentB h3 {
  color: #FF2F2F;
}

/* Style each tab content individually */ 
#PositiveB {background-color:#FFA8A7;}
#NegativeB {background-color:#E4E4E4;}

/** End happy_B styling */

.cancelBot{
   text-align: center;
   color: #FFEDED;
}

/** Start happyGraph styling */

/* Style the tab buttons */
.tablinkGraph {
    background-color: #F9F9F9;
    float: left;
    border: none;
    outline: none;
    padding: 5px;
    width: 33.3%;
    height: 72px;
}

/* Change background color of buttons on hover */
.tablinkGraph:hover {
    background-color: #FFA8A7;
}

/* Set default styles for tab content */
.tabcontentGraph {
    display: none;
    text-align: center;
}

/* Style each tab content individually */ 
#PositiveGraph {background-color:#FFA8A7;}
#NegativeGraph {background-color:#E4E4E4;}

/** End happy_B styling */


